* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  border-radius: 5px;
}

body .header-navbar {
  border-radius: 0;
  border-bottom: #12cdd4 double 6px;
  height: 86px;
}

body {
  align-items: center;
  justify-content: center;
  background: linear-gradient(white, #e9f0f0);
}

.container {
  display: flexbox;
  gap: 30px;
  align-self: flex-start;
  width: 100%;
  border-radius: 0;
  border-bottom: black double 6px;
  padding-bottom: 10px;
}

.addB {
  margin: 0 20px;
  margin-top: 10px;
  height: 35px;
}

.addB a {
  text-decoration: none;
  color: #12cdd4;
  text-align: end;
  display: block;
  position: absolute;
  padding: 3px;
  border-radius: 10px;
  border: #12cdd4 solid 5px;
  width: fit-content;
  right: 50px;
}

.main-video-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 0;
  background-color: #12cdd4;
  border-bottom: white double 6px;
}

.main-video-content video {
  width: 700px;
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 400px;
  padding: 2px;
}

.playlist::-webkit-scrollbar {
  width: 6px;
}

.playlist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

.playlist-video {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  box-shadow: 0 1px 2px gray;
  margin-right: 5px;
  cursor: pointer;
}

.active {
  background-color: black;
  color: #E8E8E8;
}

.index-video {
  margin: 0px 20px;
}

.playlist-video video {
  width: 100px;
}


@media (max-width: 1600px) {
  .container {
    flex-direction: column;
    height: -webkit-fill-available;
  }

  .container,
  .main-video-content video {
    width: 100%;
  }
}

/*Cor e configurações da navbar*/
.header-navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #000000;
  /*background: #5b008f;*/
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

/*Configurações da Logo da navbar*/
.logo img {
  max-width: 70px;
  display: block;
  margin: auto;
}

/*Configurações e alinhamentos da navbar*/
.group {
  display: flex;
  align-items: center;
}

/*Distância e configurações dos itens da navbar*/
header ul {
  position: relative;
  display: flex;
  gap: 30px;
}

header ul li {
  list-style: none;
}

/*Configurações do TEXTO dos itens da navbar*/
header ul li a {
  position: relative;
  text-decoration: none;
  font: 1em;
  color: #E8E8E8;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/*configurações do footer */
footer {
  background-color: #000000;
  color: white;
  font-family: "Cabin-Light", Arial, sans-serif;
  font-size: small;
  display: flexbox;
  justify-content: space-between;
  position: relative;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  border-top: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #12cdd4;
}

footer p {
  margin-top: 5px;
}

footer p:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #12cdd4;
}

.footer-left,
.footer-right {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}

.footer-right {
  text-align: right;
  margin-right: 100px;
}

.footer-left {
  margin-left: 100px;
}

.copyright {
  font-size: smaller;
  margin-top: 60px;
}

.copyright:hover {
  cursor: auto;
  text-decoration: none;
}